@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: whitesmoke;
    font-family: "Manrope", serif;
}


.logo{
    margin-left: 1%;
}


.navbar{
    width: 100%;
    height: 12vh;
    background: linear-gradient(to right, #014FBD, #4187E9);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
}

.nav-content{
    margin-right: 5%;
}

.nav-content a{
    padding-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: 550;

}

/* Navbar */

/* Main content */



.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    
}

.logo img{
    width: 50px;
    margin-right: 10px;
}

.logo h4{
    color: #ebecf0;
    font-weight: 800;
    font-size: 20px;
}

#about{
    text-align: center;
    margin-top: 50px;
    display: block;
    align-items: center;
}

.about-container .about-content{
    font-size: 140%;
    color: #094ec6;
    font-weight: 600;
    line-height: 200%;
}

.about-title{
    display: flex;
    justify-content: center;
    
}

#how-it-works{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.steps{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10%;
}


.homepage{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.right-content{
    margin-top: 5%;
}
.right-content img{
    border-radius: 1rem;
    width: 400px;
    height: auto;
}

.left-content{
    padding-top: 10%;
    display: inline-block;
    justify-content: center;
}

.left-content h3{
    color: #094ec6;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.left-content p{
    color: black;
    letter-spacing: 150%;
    line-height: 170%;
}

.btn{
    display: flex;
    margin-top: 5%;
}

.btn .login{
    border: none;
    background-color: #094ec6;
    color: white;
    width: 30%;
    height: 55px;
    border-radius: 1rem;
    cursor: pointer;
}

.btn .register{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #014FBD;
    border: 3px solid #014FBD;
    width: 30%;
    height: 55px;
    border-radius: 1rem;
    cursor: pointer;
}

.btn .register a{
    color: #094ec6;
    text-decoration: none;
    font-size: 100%;
    font-family: "Manrope", serif;
    font-weight: 600;
}

.btn .login a {
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-family: "Manrope", serif;
    font-weight: 600;
}

.left-content p{
    font-weight: bold;
}

.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #094ec6;
    margin-top: 5%;
    
}

.footer img{
    width: 100px;
    margin-left: 2%;
}

.footer p{
    color: white;
}


.footer a{
    margin-right: 2%;
    color: white;
    text-decoration: none;
}

#features{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.feature{
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.feature img{
    width: 75px;
    height: 75px;
}

.feature h3{
    color: #094ec6;
    font-weight: 600;
}